@model Person
@{
    ViewData["Title"] = "Create";
}

<h3>Create</h3>

<form asp-action="Create" method="post">    
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <label asp-for="City"></label>
    <input asp-for="City" />
    <label asp-for="PhoneNumber"></label>
    <input asp-for="PhoneNumber" />
    <input type="submit" value="Create" />    
</form>





















@*@model PersonViewModel*@
@*<form asp-action="Create" method="post">
    <label asp-for="@Model.person.Name"></label>
    <input asp-for="@Model.person.Name" />
    <label asp-for="@Model.person.City"></label>
    <input asp-for="@Model.person.City" />
    <label asp-for="@Model.person.PhoneNumber"></label>
    <input asp-for="@Model.person.PhoneNumber" />
    <input type="submit" value="Create" />
</form>*@